<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>E-Document</title>
  <style>
      html, body {
          height: 100%;
          margin: 0;
          padding: 0;
      }
      #app {
          height: 100%;
      }
      * {
          box-sizing: border-box;
      }
  </style>
</head>
<body>
<div id="app"></div>
<p>APP</p>
</body>
</html>
